[phases.setup]
nixPkgs = ['nodejs_20', 'php82', 'php82Packages.composer']

[phases.install]
cmds = [
  'composer install --no-dev --optimize-autoloader',
  'npm ci',
  'npm run build'
]

[phases.build]
cmds = [
  'php artisan config:clear',
  'php artisan route:clear',
  'php artisan view:clear',
  'php artisan optimize:clear'
]

[start]
cmd = 'php artisan migrate --force && php artisan db:seed --force && php create-admin.php && php artisan serve --host=0.0.0.0 --port=8080'
